* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #e7fcd5; 
    /* background-color: #f6ffee;   */
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
}


main {
    display: block;
    text-align: center;
}


h1 {
    font-size: 2em;
    text-align: center;
    margin: 1em auto 0em;
    
}

h2 {
    text-align: center;
}

p {
    margin: 1em auto;
}

button {
    display: inline-block;
}

table {
    margin: 1em auto 3em;
    border-collapse: collapse;
}

td {
    padding: .5em;
    text-align: center;
    vertical-align: middle;
}

th {
    padding: .5em;
    text-align: center;
    vertical-align: middle;
}

form {
    display: inline-block;
    margin-top: 1em;
    text-align: center;
}

form > button {
    margin-top: -1em;
}

form > button.inlineButton {
    margin-top: 0em;
}

.login {
    margin: 0 auto;
}

.login label {
    display: inline-block;
    width: 10em;
}

form#delete, form#edit {
    margin: 0;
}

form label {
    display: inline-block;
    margin: 0 .2em .5em .3em;
}

form .macros label {
    display:inline-block;
    margin: 0 .3em 0 0;
}

form .macros input {
    display:inline-block;
    margin: 0 .3em 0 0;
    padding: 1em;
}
.message-container {
    margin: .7em 0;
    text-align: center;
}

.error {
    color: rgb(95, 28, 28);
    font-size: 0.9em;
    line-height: 1em;
    margin-bottom: .5em;
}


  a.logout, a.back {
    text-decoration: none;
    margin: 2em auto;
    color: rgb(3, 3, 52);
    border-bottom: .1em solid rgb(3, 3, 52);
  }

  a.logout:hover, a.back:hover, a.login:hover {
    text-decoration: none;
    border-bottom: .2em solid #5a012e;
  }

  a.recipe {
    text-decoration: none;
    margin: 2em auto;
    color: rgb(3, 3, 52);
    border-bottom: .1em solid rgb(3, 3, 52);
  }

  a.login {
    text-decoration: none;
    margin: .5em auto;
    color: rgb(3, 3, 52);
    border-bottom: .1em solid rgb(3, 3, 52);
  }

  div.switchbox {
    margin: 2em auto;
    text-align: center;
  }

  button {
    background-color: white; 
    border: .1em rgb(201, 201, 201) solid;
    border-radius: .5em;
    padding: .3em;
    text-align: center;
    text-decoration: none;
    vertical-align:middle;
    font-family: 'Space Grotesk', sans-serif;
  }

  button:hover {
    background-color: rgb(225, 225, 225);
  }


  .recipes {
    margin: 1em auto;
  }

  .recipes ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: center;
  }
  
  .recipes ul ul {
    list-style-type: disc; 
  }
  
  .recipes > ul > li{
    width: 45%; 
    margin: 1%; 
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    min-height: 100%; 
    align-items: stretch;
  }

  .recipes ul ul li {
    width: auto; 
    margin: 0 .6em;
    padding: .4em;
    border: none; 
    background: none;
    box-shadow: none;
  }

  .recipes ul ul li:first-of-type {
    list-style-type: none;
  }

  .recipes > ul > li a {
    margin-bottom: 1em;
    padding-top: 1em;
    display: inline-block;
    position: relative;
    text-decoration: none;
    min-height: 2em;
  }

  .recipes > ul > li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 2px;
    background-color: transparent;
  }

  .recipes > ul > li a:hover::after {
    background-color: #5a012e; 
  }

  .recipes img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 2em auto 1em;
  }

  h3 {
    margin-top: .7em;
  }
  



@media screen and (max-width: 800px) {
    body {
        font-size: 90%;
    }

    main {
        float: none!important;
        max-width: 100%;
        padding-top: 5%;
    }
    
    aside {
        float: none!important;
        max-width: 100%;
    }

    p {
        margin: 1em auto;
        text-align: center;
    }

    .recipes > ul > li {
        width: 70%; 
    }
    
}